* {
  margin: 0;
  padding: 0;
}

.cuerpo {
  background-color: #e9ecf4;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "contenido contenido sidebar"
    "widget-1 widget-2 sidebar"
    "footer footer footer";
}

.contenedor div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.contenedor .header {
  background: #12203e;
  color: #fff;

  grid-area: header;
}

.h1 {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.contenedor .contenido {
  animation-name: myfirst;
  animation-duration: 5s;
  position: relative;
  grid-area: contenido;
}

@keyframes myfirst {
  0% {
    background: #fff;
  }
  25% {
    background: rgb(245, 132, 132);
  }
  50% {
    background: rgb(248, 162, 162);
  }
  100% {
    background: #ff5fc2;
  }
}

.contenedor .sidebar {
  transition: all 2s ease;
  grid-column: 3/4;
  background: #faa43d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;

  grid-area: sidebar;
}

.sidebar:hover {
  background-color: turquoise;
}

.contenedor .widget-1,
.contenedor .widget-2 {
  transition: box-shadow 0.4s ease;
  background: #55a8fd;
  color: #fff;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.widget-1:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 80%);
}

.widget-2:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(38, 255, 0, 0.8);
}

.contenedor .widget-1 {
  grid-area: widget-1;
}

.contenedor .widget-2 {
  grid-area: widget-2;
}

.contenedor .footer {
  background-color: #12203e;
  color: #fff;
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "header header header"
      "contenido contenido contenido"
      "sidebar sidebar sidebar"
      "widget-1 widget-1 widget-2"
      "footer footer footer";
  }
}
